a {
  text-decoration: none !important;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-weight: 500;
}

.button-primary {
  background-color: #047857 !important; /* Tailwind bg-green-700 */
  color: white;
  border-radius: 9999px; /* Tailwind rounded-full */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-primary:hover {
  background-color: #065f46 !important; /* Tailwind hover:bg-green-800 */
  color: #e5e7eb; /* Tailwind hover:text-gray-200 */
}

.button-secondary {
  background-color: #f3f4f6 !important; /* Tailwind bg-gray-200 */
  color: #1f2937; /* Tailwind text-gray-800 */
  border-radius: 9999px; /* Tailwind rounded-full */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-secondary:hover {
  background-color: #e5e7eb !important; /* Tailwind hover:bg-gray-300 */
  color: #111827; /* Tailwind hover:text-gray-900 */
}

/* linguist trigger */
