a {
  text-decoration: none !important;
}

.btn {
  display: inline-block;
  padding: 1rem;
  font-weight: 500;
}

.button-primary {
  background-color: #047857 !important; /* Tailwind bg-green-700 */
  color: white;
  border-radius: 9999px; /* Tailwind rounded-full */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-primary:hover {
  background-color: #065f46 !important; /* Tailwind hover:bg-green-800 */
  color: #e5e7eb; /* Tailwind hover:text-gray-200 */
}

/* linguist trigger */
